<div class="w-75 m-auto py-5">

    <div *ngIf='error' class="alert alert-danger">
        <p>{{error}}</p>
    </div>

<form [formGroup]='registerForm'  (ngSubmit)="submit(registerForm)" > 
    <div class="form-group">
        <label for="name">Name</label>
        <input formControlName='name' class="form-control" type="text" name="" id="name">
        <div *ngIf="registerForm.get('name')?.errors!=null&& registerForm.get('name')?.touched" class="alert my-2 alert-dark">
            <p *ngIf="registerForm.get('name')?.errors?.['required']" >Name is Required </p>
            <p *ngIf="registerForm.get('name')?.errors?.['minlength']">Min Length 3</p>
         <!---->   <p *ngIf="registerForm.get('name')?.errors?.['pattern']">Name Containes numbers</p>

        </div>
    </div>
 



    <div class="form-group">
        <label for="email">E-mail</label>
        <input formControlName='email' class="form-control" type="email" name="" id="email">
        <div *ngIf="registerForm.get('email')?.errors!=null&& registerForm.get('email')?.touched" class="alert my-2 alert-dark">
            <p *ngIf="registerForm.get('email')?.errors?.['required']" >  Email is Required </p>
            <p *ngIf="registerForm.get('email')?.errors?.['email']">Enter Valid E-mail</p>
            

        </div>
    </div>
 

    <div class="form-group">
        <label for="password">Password</label>
        <input formControlName='password' class="form-control" type="password" name="" id="password">
        <div *ngIf="registerForm.get('password')?.errors!=null&& registerForm.get('password')?.touched" class="alert my-2 alert-dark">
            <p *ngIf="registerForm.get('password')?.errors?.['required']" >  Password is Required </p>
         
          
          
        </div>
    </div>



  


<div class="form-group">
        <label for="phone">Mobile</label>
        <input formControlName='phone' class="form-control" type="text" name="" id="phone">
        <div *ngIf="registerForm.get('phone')?.errors!=null&& registerForm.get('phone')?.touched" class="alert my-2 alert-dark">
            <p *ngIf="registerForm.get('phone')?.errors?.['required']" >  Mobile is Required </p>
            
            

        </div>
    </div>
 
  



    <div class="form-group">
        <label for="adress">Adress</label>
        <input formControlName='adress' class="form-control" type="text" name="" id="adress">
        <div *ngIf="registerForm.get('adress')?.errors!=null&& registerForm.get('adress')?.touched" class="alert my-2 alert-dark">
          

        </div>
    </div>
    
<div class="d-flex justify-content-center">
    <button [disabled]='registerForm.invalid'class="btn btn-info text-center " type="submit">Register</button>
  </div>

</form>

</div>